.ventana{
    background-color: rgba(216, 191, 216, 0);
    width: 15%;
    height: 30% ;
    font-size: 18px;
    text-align: center;
    padding: 33px;
    min-height: 250px;
    border-radius: 25px;
    position: absolute;
    left: 34%;
    top:75%;
    display: none;
    
}

.ventana #cerrar img{
    width: 25px;
    height: 25px;
    position: absolute;
    right: 2px;
    top: 2px;
}

.ventana img{
    width: 200px;
    height: 200px ;
    border-radius: 25px;
}